<%= stylesheet_link_tag "improvements", plugin: "custom_improvements" %>
<%= javascript_include_tag('improvements', plugin: 'custom_improvements') %>
<h3>Настройка</h3>

<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Показывать перерасход часов в списке задач
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_overrun]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_overrun'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Добавить в колонке Трудозатраты данные о превышении эстимейта.
  </div>
</div>

<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Автоматически менять статус задачи с “Новый” на “В работе” при внесении трудозатрат
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_status]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_status'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Автоматически менять статус тикета с “Новый” на статус “В работе”, когда сотрудник добавил трек часов в задачу.
  </div>
</div>

<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Запрет вносить трудозатраты в завершенные задачи
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_finish]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_finish'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Запретить вносить трек в тикет, если он находится в статусе “Решена” всем, вне зависимости от их роли на проекте.
  </div>
</div>

<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Запрет вносить трудозатраты в будущие дни
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_date]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_date'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Проверять сегодняшнюю дату, и запрещать вносить трек за тот день, который еще не наступил.
  </div>
</div>

<!--нельзя вносить больше, чем в estimate-->
<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Запрещать трекать больше эстимейта для тикетов с выбранным трекером
    </div>
    <%= select_tag('settings[improvements_disable_on_tracker]',
                   options_for_select(ON_OFF_CONST,
                                      Setting.plugin_custom_improvements['improvements_disable_on_tracker'].to_i)) %>

    <% if CustomImprovements.list_add_tracker.size != 0 %>
      <h4></h4>
      <div id="sunstrike_settnigs_title">
        Трекеры, для которых уже действиет настройка:
      </div>
      <div id="sunstrike_settnigs_select">
        <% (CustomImprovements.list_add_tracker).each do |item| %>
          <div>
            <div>
              <span> <%= item.first %> </span>
              <a href=/id_tracker/destroy/<%= item.last %> data-method="POST">Удалить</a>
            </div>
          </div>
        <% end %>

      </div>
    <% end %>
    <% if CustomImprovements.options_select_tracker.size != 0 %>
  <h4></h4>
    <div id="sunstrike_settnigs_title">
      Выберете трекер, по которому будет действовать настройка:
    </div>
      <div id="sunstrike_settnigs_select">
        <%= select_tag('settings[improvements_disable_id_tracker_selected]',
                       options_for_select(CustomImprovements.options_select_tracker,
                                          Setting.plugin_custom_improvements['improvements_disable_id_tracker'].to_i)) %>
        <%= link_to 'Добавить', '/id_tracker/add/', method: 'POST', onclick: 'id_tracker();', id: 'improvements_disable_id_tracker_link' %>
      </div>
    <% end %>
  </div>
</div>


<!--Запрещать создание сдельных задач без эстимейта-->
<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Запрет на создавать задачи без указания эстимейта для задач с параметром
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_custom_fields_check]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_custom_fields_check'].to_i)) %>
    </div>

    <div id="sunstrike_settnigs_title">
      Выберите поле настройки "Фиксированный эстимейт?":
    </div>

    <div id="sunstrike_settnigs_select">
      <%= select_tag('settings[improvements_disable_id_custom_fields_check]',
                     options_for_select(CustomImprovements.options_select_custom_fields,
                                        Setting.plugin_custom_improvements['improvements_disable_id_custom_fields_check'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Выдавать ошибку в том случае, если пытаемся создать новый тикет с параметром "ДА", в выбранном поле выше
  </div>
</div>

<!--Запрещать создание тикетов в данном проекте-->
<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      Запрещать создание тикетов в данном проекте
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_project_add_task]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_project_add_task'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    Заперт создания тикетов в проектах, где это указано.
  </div>
  <%= hidden_field_tag 'settings[improvements_field_id_taboo_task]', custom_check_box_project_create %>
</div>

<div id="sunstrike_settnigs_div">
  <div>
    <div id="sunstrike_settnigs_title">
      В списке фильтра отображать только открытые проекты
    </div>
    <div id="sunstrike_settnigs_select">

      <%= select_tag('settings[improvements_disable_filter_open]',
                     options_for_select(ON_OFF_CONST,
                                        Setting.plugin_custom_improvements['improvements_disable_filter_open'].to_i)) %>
    </div>
  </div>
  <div>
    <h4 id="sunstrike_settnigs_h4">Описание: </h4>
    список в фильтре по проектам содержит только открытые проекты
  </div>
</div>