<%= stylesheet_link_tag "improvements", plugin: "custom_improvements" %>
<h3>Настройка</h3>
<div id="sunstrike_settnigs_div">
  <div id="sunstrike_settnigs_title">
    Перерасход времени
  </div>
  <div id="sunstrike_settnigs_title"><%= hidden_field_tag 'settings[id]', 'CustomImprovements' %>
    <%= hidden_field_tag 'settings[id_def]', 'overrun' %>

    <%= select_tag('settings[improvements_disable_overrun]',
                   options_for_select(ON_OFF_CONST,
                                      CustomImprovements.load_settings[:improvements_disable_overrun].to_i)) %>
  </div>
</div>
<div id="sunstrike_settnigs_div">
  <div id="sunstrike_settnigs_title">
    Автосмена статуса
  </div>
  <div id="sunstrike_settnigs_select">
    <%= hidden_field_tag 'settings[id]', 'CustomImprovements' %>
    <%= hidden_field_tag 'settings[id_def]', 'status' %>

    <%= select_tag('settings[improvements_disable_status]',
                   options_for_select(ON_OFF_CONST,
                                      CustomImprovements.load_settings[:improvements_disable_status].to_i)) %>
  </div>
</div>

